# Next.js Public Firebase Credentials Example
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyALwCJYZlkYJ5p02x0WtBKTmuc1fyUo8o0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=sdg-hack-cs-wie.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=sdg-hack-cs-wie
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=sdg-hack-cs-wie.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=704114831665
NEXT_PUBLIC_FIREBASE_APP_ID=1:704114831665:web:b97e65f74357afda3a0010
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-P08HJXPFYM

# Portal Security Passcodes Example
ADMIN_PASSCODE=wie143cs
VOLUNTEER_PASSCODE=210221
REVIEWER_PASSCODE=221210
